
<div class="container">
  <div class="row">
    <div class="span12"> 
      <form class="form-horizontal">
        <fieldset>
          <legend> <span>Edit </span><span class="right-align">
              <button ng-click="save()" class="btn btn-success">Save</button>
              <button ng-click="cancel()" class="btn">Cancel</button></span></legend>
          <div class="control-group">
            <label for="someInput" class="control-label">Some Input</label>
            <div class="controls">
              <input id="someInput" type="text" ng-model="doc.name" class="input-xlarge"/>
            </div>
          </div>
        </fieldset>
      </form>
    </div>
  </div>
</div>