div.container
  div.row
    div.span12 
      form.form-horizontal
        fieldset
          legend 
            span Edit 
            span.right-align
              button(ng-click="save()").btn.btn-success Save
              button(ng-click="cancel()").btn Cancel

          div.control-group
           label(for="someInput").control-label Some Input
           div.controls
            input(id="someInput", type="text", ng-model="doc.name").input-xlarge
         