br
br
div.container
  div.row
    div.span12
      button(ng-click="newDoc()").btn.btn-large.menu-button New Document
  div.row
    div.span12
      button(ng-click="testBridge()").btn.btn-large.menu-button Test Bridge

  br
  br