h4 DataWinks is a collaboration. These peops are involved:

div.row.clearfix
  div.col-md-3.column
    h2 LoFives
    p Sweet content lkjsdflkjsd;lfasdlkfj;lasdjf;lasjd
    a.btn Learn More
  div.col-md-3.column
    h2 WinkShop
    p Sweet content lkjsdflkjsd;lfasdlkfj;lasdjf;lasjd
    a.btn Learn More
  div.col-md-3.column
    h2 Albert Chae
    p Sweet content lkjsdflkjsd;lfasdlkfj;lasdjf;lasjd

  div.col-md-3.column
    h2 Paul Mans
    p Sweet content lkjsdflkjsd;lfasdlkfj;lasdjf;lasjd

