div.jumbotron
  div.text-center
    h1 EmojiPets are cute!
    p EmojiPets feed off the data in your life and will be your little friend. 
    img(ng-src="{{bearImageSrc}}", ng-mouseenter="bearWink()")    

    div
      div#mc_embed_signup.text-center
        form(action="http://datawinks.us3.list-manage2.com/subscribe/post?u=3ba26b2e719ee61bacf981844&amp;id=b9f0f32544", method="post", id="mc-embedded-subscribe-form", name="mc-embedded-subscribe-form", target="_blank", novalidate).validate
          label(for="mce-EMAIL") Sign up to receive updates on EmojiPet development and availability
          input(type="email", value="", name="EMAIL", id="mce-EMAIL", placeholder="email address", required).email
          div.clear
            input(type="submit", value="Subscribe", name="subscribe", id="mc-embedded-subscribe").button      

//- div.row.clearfix
//-   div.col-md-4.column
//-     img(ng-src="images/iphone5_frame.png").prodshot
//-     div.caption
//-       h4 Product Detail
//-       p Some text about the product    
//-   div.col-md-4.column
//-     img(ng-src="images/NeckPet-01.jpg").prodshot
//-     div.caption
//-       h4 Product Detail
//-       p Some text about the product    
//-   div.col-md-4.column
//-     img(ng-src="images/Bases.png").prodshot
//-     div.caption
//-       h4 Product Detail
//-       p Some text about the product      